{% extends 'base.html' %}
{% block title%} cart {%endblock title%}
    {%block body%}
    
        <body style="background-color: #fafafa;">
            
            <div id='alert-container' style="position: relative;"></div>
            <main style="display: flex;width: 100%;margin: 0%;padding: 0%;">
                
                
                <div class ="product_item" style="position: relative;">
                    
                    
                    
                    
                    
                {%if cart_items%}
                
            
                
                <h3>Your cart items.</h3>

            
            {%for item in cart_items%}

            
            <table style="justify-content: space-between;">
                
            <tr class="pc" style="display: flex;justify-content: space-evenly;align-items: center;width: 100%;">
                <td style=" justify-content: space-between; display: flex;padding: 2px; margin:10% 5% 10% 0%; "><div class="trash" style=" margin: 0% 2% 2% 0%;padding: 30px 2px 10px 0px;width: 5%; " pid="{{item.product.id}}">
                    <a style="color: #040000;" href="{%url 'remove' item.id %}"><span  id="tc" class="glyphicon glyphicon-trash"></span></a></div><p><img  style="width: 80px; height: 80px;"src="{{item.product.image.url}}" alt=""></p></td>
                <td style="align-items: left; padding: left 0;;margin: 1px;align-content: center;position: relative; "><b>{{item.product.name}}</b>
                 <p id="main" style="margin-top: 0%;position: sticky;"><b>&#8377;</b>{{item.product.price}}</p></td>
                 <div style="display: flex; margin: 1px 10px 10px 1px;">
                <td style=" align-items: center; margin-left:none;"><b style="margin:1%;">Quantity:</b>
                    <div style="display: flex;justify-content: space-around;">
                        
                        
                    <button type="button" style="margin:3px; height: 50%;" class="minus-cart btn bg-light " pid="{{item.product.id}}" {% if item.quantity == 0 %}disabled{% endif %}><span class="glyphicon glyphicon-minus"></span></button>
                    
                      <p style="margin: 3px; padding-top: 10px;" id="quantity" class="glyphicon" >{{item.quantity}}</p>
                    <p style="margin: 3px; height: 50%;margin-right: 10%;" class="plus-cart btn bg-light" pid="{{item.product.id}}"><span class="glyphicon glyphicon-plus"></span></p>
                    <b>&#8377;</b><strong id="pp" name="totalpp" style="display: block;">{{item.sub_total}}</strong><p>(each one&nbsp;{{item.product.price}}/-)</p>
                    
                    </div>
                </td>
                
                 </div>
            </tr>
            
            <hr>
            </table>
            
            {%empty%}
           
            {%endfor%}
            
        
            </div>
            
            <div class="card1" >
                <div class="card-body p-4" style=" padding: px px px px; width: 100%; border-radius: 3%; box-shadow: 0 0 px rgb(64, 62, 62); background-color: #fafafa;">
                
                <ul class="list-group" >
                    <li class="list-group-item d-flex ">Price <b style="margin-left: 50%;">&#8377;<span id="am">{{amount}}</span></b></li>
                    <li class="list-group-item d-flex">Shipping Amt <span style="margin-left: 47%;">&#8377;<span id="sh">{{shipping}}</span></span></li>
                    <li class="list-group-item d-flex">Total Amt<span>(Include GST)</span><b style="margin-left: 3%;">&#8377;<b style="display: inline;" id="ta">{{totalamount}}</b></b></li>
                </ul> 
                <div class="d-grid" style="width: 100%;" >
                   <a href="{%url 'checkout_view'%}" class="btn btn-warning ">Checkout</a>
                    <a href="/" class="btn btn-primary ">continue shop</a>
                    </div>
                </div>
            {%else%}
            <h4 align="center">Your Cart is empty <a href="/products">Add something...</a> to your cart</h4>
            {%endif%}
            </div>
            </main>
            
            
            <script>
                $('.plus-cart').click (function(){
                    let btn = $(this);
                    let prodId = btn.attr('pid');
                    var id=$(this).attr('pid').toString();
                    console.log(this.parentNode)
                    var pc=this.parentNode.children[1]
                    console.log(pc)
                    var ps=this.parentNode.children[4]
                    console.log(ps)
                    var tp=document.getElementById("pp")
                    let minusBtn = $('.minus-cart[pid="' + prodId + '"]');

                    $.ajax({
                        type:"GET",
                        url:"/pluscart",
                        data:{
                            prod_id:id
                        },
                        success:function(data){
                            
                            pc.innerText=data.quantity,
                            ps.innerText=data.sub_total,
                            document.getElementById("am").innerText=data.amount
                            document.getElementById("sh").innerText=data.shipping
                            document.getElementById("ta").innerText=data.totalamount
                            var alertBox = document.createElement('div');
                            alertBox.className = 'alert alert-dark pop-up';
                            alertBox.role = 'alert';
                            
                           
                            alertBox.innerHTML = `<strong>${data.message}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="True">&times;</span>
                          </button>`;


            // Insert alert into the DOM
                        var alertContainer = document.getElementById('alert-container');
                        
                        // Clear any existing alerts
                        alertContainer.appendChild(alertBox);

                        // Automatically remove the alert after 3 seconds
                        setTimeout(function() {
                            alertBox.classList.remove('show');
                            alertBox.classList.add('hide');
                            // Optionally, remove the alert from the DOM after the fade-out transition
                            setTimeout(function() {
                                alertBox.remove();
                            }, 100); // Adjust this timeout to match the CSS transition duration
                        }, 1000); // 3000 milliseconds = 3 seconds
                        if (data.quantity > 0) {
          minusBtn.prop('disabled', false);
        }
                           
                        }
                    })


                })
                
            $('.minus-cart').click (function(){
                    let btn = $(this);
                    var id=$(this).attr('pid').toString();
                    var mc=this.parentNode.children[1]
                    var ms=this.parentNode.children[4]
                    let minusBtn = btn;
                    minusBtn.prop('disabled', true);
                    $.ajax({
                        type:"GET",
                        url:"/minuscart",
                        data:{
                            prod_id:id
                        },
                        success:function(data){
                            
                            mc.innerText=data.quantity,
                            ms.innerText=data.sub_total,
                            
                            document.getElementById("am").innerText=data.amount
                            document.getElementById("sh").innerText=data.shipping
                            document.getElementById("ta").innerText=data.totalamount
                            minusBtn.prop('disabled', data.quantity <= 0);
                            
                        },
           
                        
    
                       
                    })


            })

            </script>
            
         </body>
{%endblock body%}